@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400;700&family=Julius+Sans+One&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,700;1,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navItem {
    @apply text-soft-white font-archivo decoration-gold mr-10 text-xs uppercase tracking-widest hover:text-white;
  }

  .navItemLink {
    @apply focus:border-gold focus:border-t-2 focus:border-b-2 focus:ring-0;
  }

  .btn {
    @apply border-gold font-archivo text-gold hover:bg-gold-hover focus:bg-gold-hover rounded-md border-2 px-3 py-1 text-xs uppercase tracking-widest outline-none transition-opacity;
  }

  .markdown {
    @apply prose dark:prose-invert prose-headings:text-soft-white prose-h2:text-gold prose-h2:font-archivo prose-blockquote:bg-slight-blue prose-blockquote:rounded-md prose-blockquote:py-1 prose-blockquote:px-3 hover:prose-a:text-gold prose-a:transition-colors prose-blockquote:border-l-gold prose-img:rounded-md prose-img:mx-auto;
  }
}

body {
  font-family: "Source Sans Pros", sans-serif;
  color: #7f89a7;
  background-color: #14213d;
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.03'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.navItem {
  display: block;
  position: relative;
  overflow: hidden;
}

.navItem::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: #fca311;
  transition: opacity 300ms, transform 300ms;
  opacity: 1;
  transform: translate3d(-101%, 0, 0);
}

.navItem:hover::after,
.navItem:focus::after {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.highlights ul,
.styledList {
  list-style-type: none;
}

.highlights ul li::before,
.styledList li::before {
  content: "o";
  color: #fca311;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  font-weight: lighter;
}

.highlights ul li,
.styledList li {
  font-size: 24px;
}

.highlights ul li,
.styledList li span {
  font-size: 16px;
}

#experience ::-webkit-scrollbar {
  background-color: #14213d;
}

#experience ::-webkit-scrollbar-thumb {
  background-color: #1f335e;
  border-radius: 10px;
}

#workList {
  position: relative;
}

#workSlider {
  transition: transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition-delay: 0.1s;
}

.projectCard {
  box-shadow: rgb(0, 0, 0, 0.5) 0px 0px 10px 0px inset,
    rgba(0, 0, 0, 0.1) -2px -5px 10px 4px inset;
  background-color: #14213d;
}

.projectDetail {
  transition: 0.5s ease;
}

.projectDetailOpen {
  height: 100%;
}

.projectCrossClosed {
  transform: translateY(-50%) rotate(45deg) !important;
}

.projectCross {
  width: 20px;
  height: 20px;
  position: absolute;
  transform: translateY(-50%) rotate(180deg);
}

.projectCross::after,
.projectCross::before {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  background-color: #fca311;
  width: 20px;
  top: 50%;
  transition: all 0.2s ease-in-out;
  right: 0;
}

.projectCross::after {
  transform: rotate(90deg);
  left: 0;
}

.projectCrossOpen::before {
  transform: rotate(-45deg);
  right: -2px;
  width: 15px;
}

.projectCrossOpen::after {
  width: 15px;
  transform: rotate(45deg);
  left: -2px;
}

.fade-in {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Markdown blog post related styling */
.markdown blockquote p::before,
.markdown blockquote p::after {
  content: none;
}

.markdown ol li::marker {
  color: #e5e5e5;
}

.markdown ul li::marker {
  color: #fca311;
}

.markdown p code {
  padding: 0.25em;
  border-radius: 0.375rem;
  background-color: #1f335e;
}

.markdown p code::before,
.markdown p code::after {
  content: none;
}

.markdown pre {
  padding: 0;
}

.markdown .codeblock {
  margin: 0 !important;
  padding: 1em 0 !important;
}

.markdown span[data="highlight"] {
  background-color: #2e3440;
  border-left: 3px solid #fca311;
  display: block;
}
